<?xml version="1.0"?>
<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name="restaurantConnection" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=RPOS_DBZ;Integrated Security=True"
         providerName="System.Data.SqlClient" />
      <add name="restaurantConnectionx" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=RPOS_DBZ;User ID=sa;Password=accomnet"
         providerName="System.Data.SqlClient" />
      <add name="RestaurantPOS6.My.MySettings.RPOS_DBConnectionString"
         connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=RPOS_DBZ;Integrated Security=True"
         providerName="System.Data.SqlClient" />
      <add name="RestaurantPOS6.My.MySettings.RPOS_DBReportCon" connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=RPOS_DBZ;User ID=sa;Password=accomnet"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  </configuration>
